a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  .nav-button-with-icon{
    background-color: transparent !important;
    border: none !important;
    height: 100%;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    padding-left: 0px;
  }
  
  .nav-button-with-icon > div {
    display: flex;
  }
  
  .nav-button-with-icon > div > label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
    width: fit-content;
    min-width: unset;
    margin-right: 5px;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .nav-button-with-icon > div > svg {
    color: #343A40;
    font-size: 25px;
  }
  
  .sign-out-button > div > svg:hover {
    color: #56606A;
    font-size: 25px;
  }
  
  .navbar-brand {
      color: #fff;
  }