.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-holder {
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 20px 32px; 
  width: 375px;
  margin: 75px;
}

.register-button {
  margin-left: 8px;
}